
   ul{

      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid #f5f2f2;
      background-color: red;
    }
    
    li {
      float: left;
    }
    
    li a {

      display: block;
      color: rgb(255, 255, 2);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

    }
    
    li a:hover:not(.active) {
      background-color: rgb(6, 184, 255);

    }
    
    li a.active {
      color: rgb(255, 255, 255);
      background-color: #04AA6D;
    }
    

    body {background-color: yellow;

    }

    h1{
      color: purple;
    }

    
  
